<div class="mx-auto col-sm-offset-5 col-md-6 text-center mt-20 background">
    <div class="w-50 mx-auto">
        <label class="label">Total Amount</label>
        <p id="total">{{totalAmount}}</p>
    </div>
    <div class="w-50 mx-auto disclosure">        
        <p class="message">{{platformFeeAlert}}</p>
    </div>
    <div class="w-50 mx-auto disclosure">        
        <p class="message">{{platformFeeTipAlert}}</p>
    </div>
    <div class="button-wrapper">
        <div class="d-inline-block select-btn">
            <label type="button" id="five" class="btn" (click)="setFiveDollars()">$5</label>
        </div>
        <div class="d-inline-block">
            <label type="button" id="ten"  class="btn" (click)="setTenDollars()">$10</label>
        </div>
        <div class="d-inline-block">
            <label type="button" id="fifteen"  class="btn" (click)="setFifteenDollars()">$15</label>
        </div>
        <div class="d-inline-block input" [formGroup]="form">
            <label for="tip" class="label">Other Amount</label>
            <input class="input-cell"  id="tip" placeholder="$0.00" formControlName="tip" currencyformatter/>
        </div>
    </div>
    <div class="select-tip">        
        <label type="button" class="btn"  (click)="leaveTip()" id="pay">pay</label>
    </div>        
</div>
