
<div class="pt-3">
    <div class="img-div">
        <img src={{serviceProviderImg}} class="vertical-center image-size profile-img"  alt="placeholder">
    </div>
    <div class="w-50 mx-auto pt-2">
        <h4>{{serviceProviderName}}</h4>
    </div>
    <div class="w-50 mx-auto">
        <p class="text-center text-wrap message">{{'demo.greetings' | translate}}</p>
    </div>
    <div class="w-50 mx-auto">
        <p class="text-center text-wrap message">{{'demo.greetThanks' | translate}}</p>
    </div>
    <div class="divider"></div>
</div>