
.circular--landscape {
    position: relative;
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    border-radius: 50%;

    img {
        width: auto;
        height: 100%;
        margin-left: -6.25rem;
      }
  }

.rounded-circle {
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
      
}

.circleborder {
  margin: auto;
  display: block;
  border-radius: 50%;
  width: 11rem;
  height: 11rem;
  padding: 10px;
  border: 3px solid #FFF;
  color: #000;
  text-align: center;
  font: 32px Arial, sans-serif;
}